@*@model IEnumerable<ReversiMvcApp.Models.Json.SpelJsonModel>
@{
    ViewData["Title"] = "Reversi";
}*@

@*@if (Model != null)
{*@
    <div id="page__content">
        <div class="open__game__list">
            @*@foreach (var item in Model)
            {
                <a asp-controller="Spel" asp-action="Details" asp-route-id="@item.Token" class="game__card">
                    <h2 class="card__action__title">Play</h2>
                    <p class="game__card__description">@item.Omschrijving</p>
                    <span class="game__card__from">@item.Speler1Token</span>
                </a>
            }*@
            @{
                @* string[] sizes =
                {
                    "wide", "tall", "medium", "small",
                    "small", "tall", "small",
                    "tall", "small", "wide", "small",
                    "small", "wide", "wide"
                }; *@
                string[] sizes = {
                    "wide", "medium", "small", "tall"
                };

                Random random = new Random();
            }

            @* @foreach (var item in Model) *@
            @for (int i = 0; i < 128; i++)
            {
                int num = random.Next(0, 8);
                string newSize = sizes[num % sizes.Length];

                string size = $"game__card {newSize} show";

                <a class="game__card @(size)">
                    <h2 class="game__card__action__title">Play</h2>
                    <div class="game__card__player__info">
                        <span class="game__card__label">Level 13</span>
                        <div class="game__card__avatar">Circle Image</div>
                        <span class="game__card__label">5,312 points</span>
                    </div>
                    <div class="game__card__game__info">
                        <h2 class="game__card__player__name">John Doe</h2>
                        <p class="game__card__game__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="game__card__game__achievements">
                            <div>
                                <h6>Wins</h6>
                                <span class="material-icons">emoji_events</span>
                                <p>2</p>
                            </div>
                            <div>
                                <h6>Losses</h6>
                                <span class="material-icons">trending_down</span>
                                <p>27</p>
                            </div>
                            <div>
                                <h6>Draws</h6>
                                <span class="material-icons">handshake</span>
                                <p>27</p>
                            </div>
                        </div>
                    </div>
                    @* <span class="game__card__from">asdf</span> *@
                </a>
            }
            @*<a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card medium">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
             <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>

            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
             <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card wide">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card tall">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>
            <a class="game__card small">
                <h2 class="card__action__title">Play</h2>
                <p class="game__card__description">Lorem ipsum</p>
                <span class="game__card__from">asdf</span>
            </a>*@
        </div>
    </div>
@*}
else
{*@
    <div class="nothingfound">
        <h1 class="nothingfound__message">Geen openstaande reversi spellen gevonden.</h1>
    </div>
@*}*@

@*<h1>Openstaande Spellen</h1>
    <hr />

    <p>
        <a asp-action="Create">Zelf een potje Reversi beginnen!</a>
    </p>
    <hr />

    @if (Model != null)
    {
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Omschrijving)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Token)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Speler1Token)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Token)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speler1Token)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Token" class="btn btn-outline-primary ml-2">Join</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    } else
    {
        <h1>Geen spellen gevonden</h1>
    }*@
