@model string
@inject Application.Common.Interfaces.INonceGenerator NonceGenerator;

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    var statusIcon = Model.StartsWith("Error") ? "warning" : "check_circle"; 
    @*<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>*@

    <div class="toast toast-@statusMessageClass" role="alert">
        <div class="toast__content">
            <span class="material-icons">@statusIcon</span>
            <p class="toast__message">@Model</p>
            <button type="button" class="toast__close" data-dismiss="alert" aria-label="Close"><span class="material-icons">close</span></button>
        </div>
        
        <span class="toast__border"></span>
        <script type="text/javascript" nonce="@NonceGenerator.GetNonce("status")">
            window.onload = () => {
                const animated = document.querySelector('.toast__border');
                const closeToastBtn = document.querySelector('.toast__close');
                
                animated.addEventListener('animationend', () => {
                    $(".toast").animate({opactity: 0}, 1, function() {
                        $(this).hide();
                    });
                });

                closeToastBtn.addEventListener('click', () => {
                    $(".toast").hide();
                });
            }
            
        </script>
    </div>

  
}

@*<div class="toast toast-danger" role="alert">
    <div class="toast__content">
        <span class="material-icons">warning</span>
        <p class="toast__message">@Model</p>
        <button type="button" class="toast__close" data-dismiss="alert" aria-label="Close"><span class="material-icons">close</span></button>
    </div>

    <span class="toast__border"></span>
    <script type="text/javascript" nonce="@NonceGenerator.GetNonce("status")">
        window.onload = () => {
            const animated = document.querySelector('.toast__border');
            const closeToastBtn = document.querySelector('.toast__close');

            animated.addEventListener('animationend', () => {
                $(".toast").animate({ opactity: 0 }, 1, function () {
                    $(this).hide();
                });
            });

            closeToastBtn.addEventListener('click', () => {
                $(".toast").hide();
            });
        }

    </script>
</div>*@