@using System.Security.Claims
@using Application
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - ReversiMvcApp</title>

    <meta charset="utf-8" />

    <meta name="author" content="Bas Schimmel" />
    <meta name="keywords" content="Reversi, Multiplayer, Game, Games" />
    <meta name="revised" content="Bas Schimmel, 9/8/2021" />

    <meta property="og:site_name" content="Reversi" />
    <meta property="og:url" content="https://192.168.2.19:3000" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Reversi Multiplayer Game" />
    <meta property="og:description" content="Let's Play Reversi!" />

    @*<meta property="og:image" content="~/img/reversi-icon.png" />
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="140" />*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>

    <link rel="Icon" href="~/img/reversi.png" type="image/x-icon"/>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Home.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Spel.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Account.css" type="text/css" />
    <link rel="stylesheet" href="~/css/stylesheet.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
<header class="header__container">
    <nav class="header">
        <a class="header__title no-drag" asp-controller="Home" asp-action="Index">Reversi</a>
        <ul class="header__nav__pages">
            <li class="nav-page-item">
                <a class="nav-item-action no-drag" asp-controller="Home" asp-action="Index">
                    <i class="material-icons">home</i>
                    <span class="nav-underline">Home</span>
                </a>
            </li>
            <li class="nav-page-item">
                <a class="nav-item-action no-drag" asp-controller="Spel" asp-action="Menu" class="header__game__join">
                    <i class="material-icons">sports_esports</i>
                    <span class="nav-underline">Hub</span>
                </a>
            </li>
            <li class="nav-page-item privacy__link">
                <a class="nav-item-action no-drag" asp-controller="Home" asp-action="Privacy">
                    <i class="material-icons">lock</i>
                    <span class="nav-underline">Privacy</span>
                </a>
            </li>
            @*<li class="account__link">
                <a class="nav-item-action no-drag" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Account">
                    <i class="material-icons">person</i>
                    <span>Account</span>
                </a>
            </li>*@
            <li id="user-name" class="nav-page-item account__link">
                <span class="nav-item-action">@User.Identity.Name</span>
            </li>
        </ul>

        <form class="action__form" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

            <ul class="account__settings">
                @if (SignInManager.IsSignedIn(User))
                {
                        var user = await UserManager.GetUserAsync(User);
                        var userClaims = await UserManager.GetClaimsAsync(user);
                        var roles = await UserManager.GetRolesAsync(user);


                        @if (roles.Contains("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-item-action no-drag" asp-controller="Speler" asp-action="AsignRoles">
                                <span class="material-icons tooltip-icon">admin_panel_settings</span>
                                <span class="tooltip-title">Admin</span>
                            </a>
                        </li>
                    }


                        @if (roles.Contains("Moderator"))
                    {
                        <li class="nav-item">
                            <a class="nav-item-action no-drag" asp-controller="Speler" asp-action="Monitoring">
                                <span class="material-icons tooltip-icon">shield</span>
                                <span class="tooltip-title">Moderator</span>
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-item-action no-drag" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <span class="material-icons tooltip-icon">person</span>
                            <span class="tooltip-title">Account</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <button class="material-icons logout__btn" title="Logout" type="submit">
                            logout
                        </button>
                    </li>*@
                }
            </ul>
        </form>


    </nav>
</header>

    <main role="main">
        <script type="text/javascript" src="~/js/app.js"></script>
        <script>
            $(() => {
                const afterInit = () => {
                    console.log("after init");
                };

                Game.init(afterInit);
            });
        </script>
        @RenderBody()
        @if (TempData.ContainsKey("PlayerState") && (int)TempData["PlayerState"] != 0)
        {
            <script>
                
                window.onload = () => {

                    alert("Je bent nog bezig met een andere game, deze moet eerst afgemaakt worden voordat je door kunt naar de volgende.");
                };
            </script>
        }
        <recaptcha/>

    </main>
    <footer class="footer">
        &copy; 2021 - Reversi
    </footer>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/Hub.js"></script>
    <script type="text/javascript" src="~/js/vendor.js"></script>
    <script type="text/javascript" src="~/js/templates.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
    <script>
        function getCaptchaToken() {
            grecaptcha.ready(function() {
                window.onload = function() {
                    grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function(token) {
                        // Add your logic to submit to your backend server here.
                        console.log(`Captcha Token: ${token}`);
                        console.log(`LoginViewModelToken: ${document.getElementById("LoginViewModelToken")}`);

                        document.getElementById("LoginViewModelToken").value = token;
                    });
                };
            });
        };

        setInterval(getCaptchaToken, 115000);

        $(function() {
            getCaptchaToken();
        });
    </script>
    <recaptcha-script/>
</body>
</html>